body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.video-player {
  max-width: 640px;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.chat-container {
  width: 100%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #444;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-container input {
  padding: 10px;
  font-size: 16px;
  color: #000;
  border-radius: 5px;
  outline: none;
  border: none;
}

.chat-container button {
  padding: 10px 0;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.chat-container button:hover {
  background: #0056b3;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 200px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}
